.btn-create{
   border-color: #3472F7 ;
    color: #3472F7;
    border-width: 2px;
    background-color: transparent;
    font-weight: 400;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 8px 16px;
}
.btn-create:hover{
  color: #1D62F0;
    border-color: #1D62F0;
}
.btn-detail{
   /*border-color: #888888 ;
    color: #888888;*/
    /*color: #3472F7;*/
    border-color: #3472F7 ;
    color: #3472F7;
    border-width: 2px;
    background-color: transparent;
    font-weight: 400;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 4px 8px;
}
.btn-detail:hover{
  /*color: #777777;
    border-color: #777777;*/
     color: #1D62F0;
    border-color: #1D62F0;
}
.btn-ubahstatus{
   /*border-color: #888888 ;
    color: #888888;*/
    /*color: #3472F7;*/
    border-color: #333 ;
    color: #333;
    border-width: 2px;
    background-color: transparent;
    font-weight: 400;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 4px 8px;
}
.btn-ubahstatus:hover{
  /*color: #777777;
    border-color: #777777;*/
     color: #111;
    border-color: #111;
}
.btn-kembali {
  border-width: 2px;
  background-color: transparent;
  font-weight: 400;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 8px 16px;
  border-color: #777;
  color: #555;
}
.btn-kembali:hover{
  background-color: transparent;
  color: #333;
  border-color: #333;
}
.btn-edit{
   border-color: #00a65a ;
    color: #00a65a;
    border-width: 2px;
    background-color: transparent;
    font-weight: 400;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 4px 8px;
}

.btn-edit:hover{
  border-color: #3c763d;
  color: #3c763d;
}


.btn-delete{
      background-color: transparent;
    color: #FF4A55;
    border-color: #FF4A55;
    border-width: 2px;
    font-weight: 400;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 4px 8px;
}
.btn-delete:hover{
  border-color: #EE2D20;
  color: #EE2D20;
}
.btn-save{
      background-color: transparent;
    color: #000;
    border-color: #5cb85c;
    border-width: 2px;
    font-weight: 500;
    font-style: bold;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 8px 16px;
}
.btn-save:hover{
  border-color: #008d4c;
  color: #008d4c;
}